.room-background {
    background: url(http://e-nanigans.com/christmastownBG.jpg) no-repeat !important;
    width: 500% !important;
    height: 500% !important;
}
i.icon.icon-current-dj {
    background-image: url("https://dl.dropboxusercontent.com/s/fzvi9h23qg069ex/music.png") !important; 
    background-position: 1px 0px;
}
#rs-eta-container{display:none}
}
#footer {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.45) 0,rgba(0, 0, 0, 0.75) 100%);
}
#footer-user .info.showing .meta .bar .progress {
	background:#2D9400;
}
#footer-user .info.showing .meta .level .label {
	color:#EFEFEF;
}
#footer-user .info.showing .meta .level .value {
	color:#EFEFEF;
}
#footer-user .info.is-staff.showing .name {
	color: #0EB006;
}
#footer .shop-button {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.45) 0,rgba(0, 0, 0, 0.75) 100%);
}
#footer-user .info.showing {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.55) 0,rgba(0, 0, 0, 0.85) 100%);
}
#chat {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.20) 10%,rgba(0, 0, 0, 0.65) 100%);
}
/*#chat {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.20) 10%,rgba(0, 0, 0, 0.65) 100%);*/
#chat {
background-color: rgba(10, 10, 10, 0.75);
}
/*#chat .emote:nth-child(2n+1), #chat .mention:nth-child(2n+1), #chat .message:nth-child(2n+1), #chat .moderation:nth-child(2n+1), #chat .skip:nth-child(2n+1), #chat .update:nth-child(2n+1), #chat .welcome:nth-child(2n+1), #chat .user-action:nth-child(2n+1) {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.20) 10%,rgba(0, 0, 0, 0.65) 100%); */
#chat .message:nth-child(2n+1),#chat .mention:nth-child(2n+1),#chat .skip:nth-child(2n+1),#chat .moderation:nth-child(2n+1),#chat .emote:nth-child(2n+1),#chat .update:nth-child(2n+1),#chat .welcome:nth-child(2n+1) {
background-color: rgba(17, 19, 23, 0.32);
}
#chat .emote, #chat .mention, #chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome, #chat .user-action {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.20) 10%,rgba(0, 0, 0, 0.65) 100%); 
}
#room .app-right {
	background: linear-gradient(to left,rgba(0, 0, 0, 0.20) 10%,rgba(0, 0, 0, 0.65) 100%);
}
.welcome .text {
	color:#90db20;
}
.group.host {
	color:#8E0000;
}
i.icon.icon-chat-host {
	background : url(https://i.imgur.com/iyrjL4L.png);
}
i.icon.icon-chat-co-host {
    background : url(https://i.imgur.com/iyrjL4L.png);
}
.icon-chat-host + span { color: #B40486 !important;
}
.icon-chat-co-host + span { color: #B40486 !important;
}
.group.manager {
	color:#C11B17;
}
i.icon.icon-chat-manager {
	background : url(https://i.imgur.com/2feyLve.png);
}
.icon-chat-manager + span { color: #C11B17 !important;
}
.group.bouncer {
	color:#E6A21C;
}
i.icon.icon-chat-bouncer {
	background : url(https://i.imgur.com/CMpa3Vo.png);
}
.icon-chat-bouncer + span { color: #E6A21C !important; 
}
.group.dj {
	color:#27A196;
}
i.icon.icon-chat-dj {
	background : url(https://i.imgur.com/s06d8qb.png);
}
.icon-chat-dj + span { color: #27A196 !important;
}
#user-rollover .info .level .label {
	color:#777F92;
}
#user-rollover.is-staff .info .role span {
	color: #AC76FF;
}
#vote {
	opacity: 0.90;
}
#woot { 
	border-radius: 100px 0 0 100px ;
}
#woot .bottom { 
	border-radius: 0 0 0 100px;
}
#woot.selected, #woot .bottom, #woot.crowd-response.disabled.active .bottom {
	background: linear-gradient(to top,#6FE514,rgba(74, 169, 0, 1) 100%);
}
#meh { 
	border-radius: 0 100px 100px 0;
}
#meh .bottom { 
	border-radius: 0 0 100px 0;
}
#meh.selected, #meh .bottom, #meh.crowd-response.disabled.active .bottom {
	background: linear-gradient(to top,#EA2A2A,rgba(189, 0, 0, 1) 100%);
}
#grab.selected, #grab .bottom, #grab.crowd-response.disabled.active .bottom {
	background: linear-gradient(to top,#AA74FE,rgba(102, 28, 217, 1) 100%);
}
#dj-button.is-wait, #dj-button.is-leave, #dj-button.is-quit, #dj-button.is-locked, #dj-button.is-full {
	opacity: 0.85;
}
#dj-button, #dj-button.is-leave { 
	border-radius: 100px 100px 100px 100px;
	background: linear-gradient(to top,#3A3A3A,rgba(34, 34, 34, 1) 100%);
}
#dj-button .left {
	border-radius: 100px 100px 100px 100px;
	background: linear-gradient(to top,#14C0F3,rgba(0, 152, 196, 1) 100%);
}
#dj-button.is-leave .left {
	background: linear-gradient(to top,#F3653D,rgba(228, 61, 13, 1) 100%);
}
.torch {
	visibility: hidden;
}
#room-bar .icon-room { 
	background: url(http://i.imgur.com/jchOHYC.png);


/* This is for badge box (Personal) */
}
#chat-messages 
.id-5445930 .badge-box i.bdg.bdg-nycset-g {background-image: url('http://i.imgur.com/fTZkHiN.gif');background-size:cover 
}
#chat-messages
.id-5445930 .badge-box i.bdg.bdg-nycb05 {background-image: url('http://i.imgur.com/IU4m3W1.gif');background-size:cover
}
#chat-messages
.id-5445930 .badge-box i.bdg.bdg-nycb04 {background-image: url('http://i.imgur.com/pNBLZnV.gif');background-size:cover
}
#chat-messages
.id-5445930 .badge-box i.bdg.bdg-nycb03 {background-image: url('http://i.imgur.com/haMOiG5.gif');background-size:cover
}
#chat-messages
.id-5445930 .badge-box i.bdg.bdg-nycb02 {background-image: url('http://i.imgur.com/8mZ5I9H.png');background-size:cover
}
#chat-messages
.id-5445930 .badge-box i.bdg.bdg-nycb01 {background-image: url('http://i.imgur.com/jCWfGAn.gif');background-size:cover
}
#chat-messages
.id-5445930 .badge-box i.bdg.bdg-dinerset-g {background-image: url('http://i.imgur.com/aq6E7Hl.gif');background-size:cover
}
#chat-messages
.id-5445930 .badge-box i.bdg.bdg-dinerb06 {background-image: url('http://i.imgur.com/ERXsiFB.png');background-size:cover
}
#chat-messages
.id-5445930 .badge-box i.bdg.bdg-dinerb05 {background-image: url('http://i.imgur.com/Ja6gfnu.png');background-size:cover
}
#chat-messages
.id-5445930 .badge-box i.bdg.bdg-dinerb04 {background-image: url('http://i.imgur.com/qFVF890.gif');background-size:cover
}
#chat-messages
.id-5445930 .badge-box i.bdg.bdg-dinerb03 {background-image: url('http://i.imgur.com/QEmvw4B.jpg');background-size:cover
}
#chat-messages
.id-5445930 .badge-box i.bdg.bdg-dinerb02 {background-image: url('http://i.imgur.com/BcM0L1O.png');background-size:cover
}
.is-staff .name {
	color: #00FFF7;
}
#chat .from.staff .un {
	color: #00FFF7;
}
.user-content.profile .meta.is-staff .role span {
	color: #00FFF7;
}
#user-rollover.is-staff .info .role span {
	color: #00FFF7;
}
#playlist-button {
    background: linear-gradient(to bottom,#00FFEB 0,#0075C8 100%);
}
.app-header {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.9) 0,rgba(0, 0, 0, 0.9) 100%);
}
#app-menu {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 1) 0,rgba(61, 61, 61, 1) 100%);
}
#rs-skip-button {
	background: none !important;
}
#history-button {
	background: none;
}
.header-panel-button.selected {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 1) 0,rgba(61, 61, 61, 1) 100%);
}
#user-rollover {
	border-radius: 30px 30px 0 0;
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.45) 0,rgba(0, 0, 0, 0.75) 100%);
	box-shadow: 0 0 10px #000;
}
.thumb {
	background: hsla(210,10%,10%,.4);
}
#user-rollover .info .badge-box,
#user-rollover .background,
#video-only-dj .background,
#search-suggestion,
#search-suggestion ul {
	background: rgba(0,0,0,0);
}
.thumb.large, .thumb, #user-rollover .meta.online .thumb {
	border-color: hsl(80,70%,50%) !important;
	box-shadow: 0 0 7px hsl(80,70%,50%) !important;
}
.thumb.large, #user-rollover .meta.online .thumb.large {
	box-shadow: 0 0 15px hsl(80,70%,50%) !important;
}
#user-rollover.is-staff .meta.online .thumb, #waitlist .is-staff .thumb {
	border-color: hsl(270,50%,50%) !important;
	box-shadow: 0 0 7px hsl(270,50%,50%) !important;
}
#user-rollover.is-staff .meta.online .thumb.large {
	box-shadow: 0 0 15px hsl(270,50%,50%) !important;
}
#user-rollover .meta.subscriber .thumb, #waitlist .is-subscriber .thumb {
	border-color: hsl(45,80%,45%) !important;
	box-shadow: 0 0 7px hsl(45,80%,45%) !important;
}
#user-rollover .meta.subscriber .thumb.large {
	box-shadow: 0 0 15px hsl(45,80%,45%) !important;
}
#user-rollover .meta.online .status i {
	display: none;
}
#user-rollover .meta.online .status span {
	color: hsl(80,70%,50%);
	margin-left: 0;
}
.offline .thumb {
	border-color: hsl(0,0%,40%) !important;
	box-shadow: none !important;
}
#user-rollover .action {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.45) 0,rgba(0, 0, 0, 0.75) 100%) !important;
	box-shadow: 0 0 2px 1px #151515 !important;
}
#user-rollover .action:hover {
 	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.45) 0,rgba(0, 0, 0, 0.75) 100%) !important;
 	box-shadow: inset 0 0 50px #000 !important;
}
#user-rollover .info {
    background: linear-gradient(rgba(0, 220, 255, 0.22), rgba(0, 90, 255, 0.12));
    box-shadow: 0px -2px 10px -1px #000;
    border-radius: 50% 50% 0 0 !important;
}
#playlist-panel {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.9) 0,rgba(0, 0, 0, 0.9) 100%) !important;
}
#playlist-menu {
	background: none;
}
.media-list .row.selected {
	background: #00ACAC !important;
}
#playlist-menu .menu .row.selected {
	background: #00ACAC !important;
}
#playlist-menu .menu .row .count {
	color: #FFFFFF !important;
}
#search {
	background: none !important;
}
#search-bar {
	background: none !important;
}
.media-list .selected .actions {
	background: #007D7D !important;
}
.media-list .row .now-playing {
	background: #00ACAC !important;
}
#playlist-edit-button {
	background: none;
}
#playlist-shuffle-button {
	background: none;
}
#playlist-delete-button {
	background: none;
}
.experience .xp .bar .progress {
    border-color: hsl(198,80%,45%) !important;
	box-shadow: 0 0 7px hsl(198, 80%, 45%) !important;
}
#playlist-import {
	background: none;
}
#playlist-create {
	background: none;
}
#chat-input {
	border-radius: 30px 0 0 30px !important;
}
#app-menu, #app-menu .list {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.9) 0,rgba(0, 0, 0, 0.9) 100%) !important; 
}
#dj-button.is-leave .left, #dj-button.is-quit .left {
    background: linear-gradient(to bottom,rgba(244, 107, 64, 1),rgba(244, 107, 48, 1) 100%) !important;
}
/* menu thing */
#user-menu .item.selected {
    background: rgba(0, 181, 230, 0.97);
    cursor: default;
    border-right: #FFFFFF 3px solid;
}
#user-menu .item:hover {
background: rgba(70, 203, 239, 0.7);
    cursor: default;
-moz-transition: 100ms linear 50ms;
-o-transition: 100ms linear 50ms;
-webkit-transition: 100ms linear 50ms;
padding-right: 3px;
text-decoration: none;
transition: 100ms linear 50ms;
}
.user-content.profile .points .value {
	color: #196aec;
}
.user-content.profile .points .label {
	color: #3d548c;
}
/* Waitlist */
#waitlist .list .user {
	background: rgba(0, 0, 0, 0.52);
}
#waitlist .list .user:hover {
	background: rgba(255, 53, 88, 0.27);
	border-left: #FFFFFF 3px solid;
	   cursor: default;
-moz-transition: 100ms linear 50ms;
-o-transition: 100ms linear 50ms;
-webkit-transition: 100ms linear 50ms;
padding-left: 3px;
text-decoration: none;
transition: 100ms linear 50ms;
}
/* Users */
#user-lists .list .user {
	width: 100%;
	background: rgba(0, 0, 0, 0.57);
}
#user-lists .list .user:hover {
	background: rgba(146, 90, 255, 0.33);
	border-left: #FFFFFF 3px solid;
	-moz-transition: 100ms linear 50ms;
-o-transition: 100ms linear 50ms;
-webkit-transition: 100ms linear 50ms;
padding-left: 3px;
text-decoration: none;
transition: 100ms linear 50ms;
}
/*Css badge by Wolf*/
#user-lists .list .user.id-4412452 .name:after,
#chat #chat-messages .fromID-4412452 .from .un.clickable:after,
#chat #chat-messages .cid-4412452 .from .un.clickable:after,
#chat #chat-messages :not(.rsshit).id-4412452 .from .un.clickable:after,
#user-lists .list .user.id-4849359 .name:after,
#chat #chat-messages .fromID-4849359 .from .un.clickable:after,
#chat #chat-messages .cid-4849359 .from .un.clickable:after,
#chat #chat-messages :not(.rsshit).id-4849359 .from .un.clickable:after {
    content: url("https://dl.dropboxusercontent.com/s/v2lts1dua12bja8/Checkgrey.png");
    /*Credit: Wolf;*/
    top: 3px;
    Left: 3px;
    position: relative;
}
#user-rollover.id-4412452 .meta .username:after,
#user-lists .list .user.id-4412452:hover .name:after,
#chat #chat-messages .cid-4412452 .from .un.clickable:hover:after,
#chat #chat-messages .fromID-4412452 .from .un.clickable:hover:after,
#chat #chat-messages :not(.rsshit).id-4412452 .from .un.clickable:hover:after,
#user-rollover.id-4849359 .meta .username:after,
#user-lists .list .user.id-4849359:hover .name:after,
#chat #chat-messages .cid-4849359 .from .un.clickable:hover:after,
#chat #chat-messages .fromID-4849359 .from .un.clickable:hover:after,
#chat #chat-messages :not(.rsshit).id-4849359 .from .un.clickable:hover:after{
    content: url("https://dl.dropboxusercontent.com/s/wppihrv7ubvr4ak/Check.png") !important;
    /*Credit: Wolf;*/
    top: 3px;
    Left: 3px;
    position: relative;
     transition: .2s linear;
}
#chat-messages .fromID-4412452 .from .icon,
#chat #chat-messages .cid-4412452 .from .icon,
#chat #chat-messages :not(.rsshit).id-4412452 .from .icon,
#chat-messages .fromID-4849359 .from .icon,
#chat #chat-messages .cid-4849359 .from .icon,
#chat #chat-messages :not(.rsshit).id-4849359 .from .icon {
    top: 3px !important;
}
/*app menu and communities tab*/
#app-menu {
    position: absolute;
    background: rgba(40, 44, 53, 0.85);
}
 #app-menu .list {
    position: absolute;
    background: rgba(0, 0, 0, 0.33);
}

/*friends list offline color fix*/
.app-right .friends .list .row.is-admin.is-offline .name span {
    color: #75AECD;	
}
.app-right .friends .list .row.is-ambassador.is-offline .name span {
    color: #A3C193;
}
#chat .cm.id-4412452 .from .icon.icon-chat-manager {
    background: url(https://i.imgur.com/o3KzyVA.png) -30px !important;
}
.app-right .friends .list .row .image {
height: 19px; 
width: 19px;
transition: 0.2s all ease;
    transition-delay: 0.1s;
} 
.app-right .friends .list .row:hover .image {
height: 31px; 
width: 31px;
} 
.app-right .friends .list .row .image .thumb {
height: 15px; 
width: 15px;
transition: 0.2s all ease;
    transition-delay: 0.1s;
} 
.app-right .friends .list .row:hover .image .thumb {
height: 27px; 
width: 27px;
} 
.app-right .friends .list .row .image .thumb .avi {
opacity: 0;
transition: 0.2s all ease;
    transition-delay: 0.1s;
} 
.app-right .friends .list .row:hover .image .thumb .avi {
opacity: 1;
} 
.app-right .friends .list .row {
height: 28px; 
transition: 0.2s all ease;
    transition-delay: 0.1s;
} 
.app-right .friends .list .row:hover {
height: 41px; 
} 
.app-right .friends .list .row .meta {
margin-left: 1px;
top: 3px; 
height: 22px; 
transition: 0.2s all ease;
    transition-delay: 0.1s;
} 
.app-right .friends .list .row:hover .meta {
margin-left: 6px;
top: 11px; 
height: 30px; 
} 
.app-right .friends .list .row .name {
margin-left: 5px; 
}
[data-cid^="13613180-"].cm .from .un:before {
    content: url("https://i.imgur.com/1rtUdcS.png") !important;
    top: 3px;
    right: 3px;
    position: relative;
}
/*Bot icon By Wolf*/
#user-lists .list .user.id-19287860 .name:after,
.fromID-19287860 .from .un.clickable:after,
.cid-19287860 .from .un.clickable:after,
.id-19287860 .from .un.clickable:after {
    content: url("https://dl.dropboxusercontent.com/s/oucorp8ejssq3sa/Botgrey.png");
    top: 3px;
    Left: 3px;
    position: relative;
}
#user-rollover.id-19287860 .meta .username:after,
#user-lists .list .user.id-19287860:hover .name:after,
.msg.cid-19287860 .from .un.clickable:hover:after,
.fromID-19287860 .from .un.clickable:hover:after,
.id-19287860 .from .un.clickable:hover:after{
    content: url("https://dl.dropboxusercontent.com/s/6n8jncgoufypt60/Bot.png") !important;
    top: 3px;
    Left: 3px;
    position: relative;
    transition: .2s linear;
}
.fromID-19287860 .from .icon,
.msg.cid-19287860 .from .icon,
.id-19287860 .from .icon {
    top: 3px !important;
}
#user-rollover.id-13613180 .info .role{
display: block !important;
}
#user-rollover.id-13613180 .info .role i{
height: 15px;
width: 15px;
background-image: url("https://i.imgur.com/1rtUdcS.png") !important;
}
#user-rollover.id-30032121 .info .role i{
height: 15px;
width: 15px;
background-image: url("https://i.imgur.com/eMeduiC.png") !important;
}
[data-cid^="30032121-"].cm .from .un:before {
    content: url("https://i.imgur.com/eMeduiC.png") !important;
    top: 3px;
    right: 3px;
    position: relative;
}
.fromID-30032121 .from .icon,
.msg.cid-19287860 .from .icon,
.id-19287860 .from .icon {
    top: 3px !important;
}
#user-rollover.id-30032121 .info .role{
display: block !important;
}
#footer {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.45) 0,rgba(0, 0, 0, 0.75) 100%);
}
#footer .shop-button {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.45) 0,rgba(0, 0, 0, 0.75) 100%);
}
#chat {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.20) 10%,rgba(0, 0, 0, 0.65) 100%);
}
#chat .emote, #chat .mention, #chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome, #chat .user-action {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.20) 10%,rgba(0, 0, 0, 0.65) 100%);
}
#room .app-right {
	background: linear-gradient(to left,rgba(0, 0, 0, 0.20) 10%,rgba(0, 0, 0, 0.65) 100%);
}
#vote {
	box-shadow: 0 0 10px #000;
	border-radius: 40px;
	width: 255px !important;
}
#app #vote .bottom {
	background: rgba(0,0,0,0);
}
#woot, #grab, #meh {
	margin-top: 0 !important;
}
#vote .selected,
#vote .selected .value {
	font-weight: bold;
	color: #FFF;
}
.pop-menu, .pop-menu .bar {
	border-radius: 20px 20px 0 0;
	background: transparent;
}
.pop-menu .bar {
	background: linear-gradient(hsla(260,50%,50%,.8), hsla(260,50%,30%,.8));
}
.pop-menu .bar-divider {
	background: linear-gradient(hsla(0,0%,90%,.8), hsla(0,0%,60%,.8));
}
.pop-menu .menu ul {
	background: hsla(260,10%,7%,.8);
}
.pop-menu .menu ul i + span {
	font-weight: bold;
}
.pop-menu .menu ul li:hover {
	background: linear-gradient(hsla(260,50%,50%,.2), hsla(260,50%,30%,.2));;
}
.pop-menu .menu ul .create:hover {
	background: linear-gradient(hsl(260,40%,50%), hsl(260,40%,30%));
}
.pop-menu .menu::-webkit-scrollbar {
	background: hsl(260,10%,20%) !important;
	box-shadow: inset 0 0 10px #000;
	width: 10px;
}
.pop-menu .menu::-webkit-scrollbar-thumb {
	background: linear-gradient(to right, hsl(260,40%,60%), hsl(260,40%,40%));
	box-shadow: inset 0 0 5px hsla(0,0%,100%,.3);
}
#woot {
	border-radius: 30px 0 0 30px;
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.45) 0,rgba(0, 0, 0, 0.75) 100%) !important;
	box-shadow: inset 0 0 10px hsl(0,0%,40%) !important;
}
#woot.selected, #woot-rs .title {
	background: linear-gradient(135deg, hsla(90,80%,50%,.3), hsla(90,80%,30%,.3)) !important;
	box-shadow: inset 0 0 10px hsl(70,100%,40%) !important;
}
#grab {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.45) 0,rgba(0, 0, 0, 0.75) 100%) !important;
	box-shadow: inset 0 0 10px hsl(0,0%,40%) !important;
}
#grab.selected, #grab-rs .title {
	background: linear-gradient(hsla(270,70%,50%,.3), hsla(265,70%,30%,.3)) !important;
	box-shadow: inset 0 0 10px hsl(280,100%,40%) !important;
}
#meh {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.45) 0,rgba(0, 0, 0, 0.75) 100%) !important;
	box-shadow: inset 0 0 10px hsl(0,0%,40%) !important;
	border-radius: 0 30px 30px 0;
	margin-right: 0 !important;
}
#meh.selected, #meh-rs .title {
	background: linear-gradient(225deg, hsla(5,80%,50%,.3), hsla(0,80%,40%,.3)) !important;
	box-shadow: inset 0 0 10px hsl(15,100%,50%) !important;
}
#dj-button.is-wait, #dj-button.is-leave, #dj-button.is-quit, #dj-button.is-locked, #dj-button.is-full {
	opacity: 0.85;
}
#dj-button, #dj-button.is-leave { 
	border-radius: 100px 100px 100px 100px;
	background: linear-gradient(to top,#3A3A3A,rgba(34, 34, 34, 1) 100%);
}
#dj-button .left {
	border-radius: 100px 100px 100px 100px;
	background: linear-gradient(to top,#14C0F3,rgba(0, 152, 196, 1) 100%);
}
#dj-button.is-leave .left {
	background: linear-gradient(to top,#F3653D,rgba(228, 61, 13, 1) 100%);
}
.torch {
	visibility: hidden;
}
#playlist-button {
    background: linear-gradient(to bottom,#00FFEB 0,#0075C8 100%);
}
.app-header {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.9) 0,rgba(0, 0, 0, 0.9) 100%);
}
#app-menu {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 1) 0,rgba(61, 61, 61, 1) 100%);
}
#rs-skip-button {
	background: none !important;
}
#history-button {
	background: none;
}
.header-panel-button.selected {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 1) 0,rgba(61, 61, 61, 1) 100%);
}
#user-rollover .action {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.45) 0,rgba(0, 0, 0, 0.75) 100%) !important;
	box-shadow: 0 0 2px 1px #151515 !important;
}
#user-rollover .action:hover {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.45) 0,rgba(0, 0, 0, 0.75) 100%) !important;
	box-shadow: inset 0 0 50px #000 !important;
}
#playlist-panel {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.9) 0,rgba(0, 0, 0, 0.9) 100%) !important;
}
#playlist-menu {
	background: none;
}
.media-list .row.selected {
	background: #00ACAC !important;
}
#playlist-menu .menu .row.selected {
	background: #00ACAC !important;
}
#playlist-menu .menu .row .count {
	color: #FFFFFF !important;
}
#search {
	background: none !important;
}
#search-bar {
	background: none !important;
}
.media-list .selected .actions {
	background: #007D7D !important;
}
.media-list .row .now-playing {
	background: #00ACAC !important;
}
#playlist-edit-button {
	background: none;
}
#playlist-shuffle-button {
	background: none;
}
#playlist-delete-button {
	background: none;
}
.experience .xp .bar .progress {
    border-color: hsl(198,80%,45%) !important;
	box-shadow: 0 0 7px hsl(198, 80%, 45%) !important;
}
#playlist-import {
	background: none;
}
#playlist-create {
	background: none;
}
#chat-input {
	border-radius: 30px 0 0 30px !important;
}
#app-menu, #app-menu .list {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.9) 0,rgba(0, 0, 0, 0.9) 100%) !important; 
}
#dj-button.is-leave .left, #dj-button.is-quit .left {
    background: linear-gradient(to bottom,rgba(244, 107, 64, 1),rgba(244, 107, 48, 1) 100%) !important;
}
/* Icon fix :before */
div.message > div.msg > div.from > span.un {
    vertical-align: top;
    horizontal-align: left;
}

/* Buttons */
#history-button,
#rs-skip-button {
    background: #000000 !important;
}

#woot i.icon,
#grab i.icon,
#meh i.icon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#woot i.icon {
    background-image: url("https://i.imgur.com/JmPW3lw.png");
}

#grab i.icon {
    background-image: url("https://i.imgur.com/U7iGW88.png");
}

#meh i.icon {
    background-image: url("https://i.imgur.com/NPVli64.png");
}
#chat .welcome {
    color: #27b2e9;
    border-top: #27b2e9 2px dotted;
    border-left: #27b2e9 2px dotted;
    border-bottom: #27b2e9 2px dotted;
    border-right: #27b2e9 2px dotted;
}
/*--[RCS]--*/

#woot-rs, #grab-rs, #meh-rs {
	top: -1px;
	border-radius: 10px 10px 0 0;
	background: hsla(210,10%,5%,.8);
	box-shadow: 0 0 10px #000;
	z-index: 0;
}
#woot-rs .title, #grab-rs .title, #meh-rs .title {
	border-radius: 10px 10px 0 0;
}
#chat .cm.rsshit.message {
	border: none !important;
}
.app-right {
	background: hsla(210,10%,5%,.9) !important;
}
#rcs-menu-container .container .group {
	border-color: hsl(220,50%,20%) !important;
	background: linear-gradient(hsla(220,50%,10%,.8), hsla(220,50%,7%,.8)) !important;
}
.rcs.item.selected span {
	color: hsl(200,60%,50%) !important;
}

/*--[Miscellanous]--*/

#app-menu .button, #room .friends.has-requests .header {
	background: linear-gradient(to right, hsl(215,100%,30%), hsl(215,100%,20%));
	box-shadow: inset 0 0 40px 1px hsla(0,0%,0%,.3);
}
#app-menu .button:hover, #room .friends.has-requests .header:hover {
	background: linear-gradient(to right, hsl(210,100%,40%), hsl(210,100%,30%));
}
#app-menu .list {
	background: linear-gradient(hsl(220,10%,10%), hsl(220,10%,20%));
}
#app-menu .list .item {
	box-shadow: none;
}
#app-menu .list .item:hover {
	box-shadow: inset 0 0 7px 0px hsla(0,0%,100%,.5);
	background: linear-gradient(to right, hsl(210,100%,20%), hsl(200,100%,20%));
}
#app-menu .list .logout {
	background: hsl(220,10%,15%);
}
#app-menu .list .logout:hover {
	background: linear-gradient(to right, hsl(10,90%,20%), hsl(0,90%,20%));
	box-shadow: 0 0 5px #000;
	border: 1px solid #f55;
}
.dialog {
	border-radius: 20px;
	background: hsla(210,10%,20%,.5);
}
.dialog .dialog-body {
	background: hsla(210,10%,5%,.8) !important;
}
.dialog .cancel {
	border-radius: 0 0 0 20px;
	background: linear-gradient(hsla(15,80%,50%,.5), hsla(15,80%,30%,.5)) !important;
}
.dialog .submit {
	border-radius: 0 0 20px 0;
	background: linear-gradient(hsla(210,100%,50%,.5), hsla(210,100%,30%,.5)) !important;
}
#dialog-restricted-media .divider {
	background: hsl(225,50%,20%);
}
#dialog-restricted-media .submit {
	border-radius: 0 0 20px 20px;
}
#dialog-level-up {
	background: linear-gradient(hsl(210,10%,20%), hsl(210,10%,10%));
	box-shadow: 0 0 20px #000;
}
#dialog-level-up .dialog-body {
	background: transparent;
}
#dialog-preview .submit {
	border-radius: 0 0 20px 20px;
	background: transparent !important;
}
#dialog-user-role .button.submit {
	border-radius: 0 0 20px;
}
#dialog-user-role .button.cancel {
	border-radius: 0 0 0 20px;
}
#dialog-user-role .button.cancel span {
	color: hsl(15,80%,50%);
}
#search-suggestion {
	top: 48px;
}
#user-inventory .history .row {background: linear-gradient(hsl(220,10%,12%), hsl(220,10%,10%)) !important;}
#user-inventory .history .row .item {background: linear-gradient(hsl(220,10%,20%), hsl(220,10%,15%)) !important;}
#user-inventory .history .row:nth-child(1) {border-radius: 20px 20px 0 0;}
#user-inventory .history .row:nth-child(1) .item {border-radius: 20px 0 0 0;}
#user-inventory .history .row:nth-last-child(1) {border-radius: 0 0 20px 20px;}
#user-inventory .history .row:nth-last-child(1) .item {border-radius: 0 0 0 20px;}
#user-inventory .history .row .col {box-shadow: -1px 0 0 0 hsl(210,50%,20%) !important;}
#user-inventory .history .jspPane .row {border-color: hsl(210,50%,20%); !important}

#room-settings .general-settings .description .value a:last-of-type {
	display:none !important;
}
/*--[user-menu]--*/

#user-menu, #room-settings-menu, #playlist-menu {
	background: linear-gradient(to right, hsla(210,10%,40%,0), hsla(210,10%,50%,.2));
}
#user-view, #dashboard, #room-settings, #media-panel, #playlist-panel, #history-panel {
	background: linear-gradient(hsla(210,10%,7%,.9), hsla(210,10%,5%,.9)) !important;
}
#user-menu .item:hover, #room-settings-menu .item:hover {
	background: linear-gradient(hsla(205,100%,40%,.6), hsla(205,100%,30%,.6));
	box-shadow: inset 0 0 10px 1px hsla(0,0%,100%,.2);
}
#user-menu .item.selected, #room-settings-menu .item.selected {
	background: linear-gradient(hsl(205,100%,40%), hsl(205,100%,30%));
	box-shadow: inset 0 0 10px 1px hsla(0,0%,100%,.4);
}
#room-settings .general-settings button, #room-settings .general-settings .option.enabled button.off {
	background: linear-gradient(hsl(220,5%,20%), hsl(220,5%,10%)) !important;
	box-shadow: inset 0 0 2px hsla(0,0%,100%,.5) !important;
}
#room-settings .general-settings button:hover, #room-settings .general-settings .option.enabled button.off:hover {
	background: linear-gradient(hsl(220,50%,20%), hsl(220,50%,10%)) !important;
	box-shadow: inset 0 0 2px hsla(0,0%,100%,.5) !important;
}
#room-settings .general-settings button.off, #room-settings .general-settings .option.enabled button.on {
	background: linear-gradient(hsl(220,50%,40%), hsl(220,50%,30%)) !important;
	box-shadow: inset 0 0 2px hsla(0,0%,100%,.5) !important;
}
#the-user-profile .notifications.section .row {
	border-radius: 10px;
	background: linear-gradient(hsl(210,100%,20%), hsl(210,100%,10%));
}
.tab-menu button, #user-settings .container button, .subscribe-button, .dropdown, #dialog-user-role .role-menu {
	border-radius: 10px;
	background: linear-gradient(hsl(220,5%,20%), hsl(220,5%,10%));
	box-shadow: inset 0 0 2px hsla(0,0%,100%,.5) !important;
}
#user-settings .container button:hover {
	background: linear-gradient(hsl(10,80%,30%), hsl(0,80%,20%));
}
.subscribe-button:hover {
	background: linear-gradient(hsl(40,70%,30%), hsl(40,70%,20%));
}
.tab-menu button:hover, .dropdown:hover {
	background: linear-gradient(hsl(220,80%,20%), hsl(220,80%,10%));
}
.tab-menu .selected, .dropdown.open {
	background: linear-gradient(hsl(210,80%,40%), hsl(210,80%,30%)) !important;
	box-shadow: inset 1px 1px 10px -1px hsla(220,80%,50%,.5) !important;
}
.dropdown dt {
	border-radius: 10px;
	box-shadow: inset -39px 0 0 hsla(0,0%,100%,.15) !important;
}
.dropdown.open, .dropdown.open dt, #dialog-user-role .role-menu:hover {
	border-radius: 10px 10px 0 0;
	font-weight: normal;
}
.dropdown dt .level {
	color: #eee !important;
}
.dropdown dd span {
	color: #aaa;
}
.dropdown dd .row:hover span {
	color: #fff;
}
.dropdown dd, #chat-suggestion, #dialog-user-role .role-menu .menu ul li, #search-suggestion li, #dialog-restricted-media .row.selected {
	background: hsla(210,10%,10%,.8);
}
#dialog-user-role .role-menu .menu ul li {
	border-color: hsla(210,10%,8%,.8);
}
.dropdown dd .row:hover,
.chat-suggestion-item[style='background: rgb(45, 49, 58);'],
#search-suggestion .search-suggestion-item.selected,
#dialog-restricted-media .row.selected,
#dialog-user-role .role-menu .menu ul li:hover {
	background: linear-gradient(hsla(210,10%,20%,.8), hsla(210,10%,15%,.8)) !important;
}
#user-menu .count, .requests .count, .buttons .count, .request-count, .friends .header i {
	background: radial-gradient(hsl(215,100%,50%), hsl(210,100%,30%)) !important;
	box-shadow: inset 0 0 10px hsl(200,100%,50%);
	text-shadow: 0 0 3px #000;
}
#user-menu .selected .count, .button:hover .count, #friends-button.selected span, #user-friends .requests.selected span, .friends .header:hover i {
	background: radial-gradient(hsl(210,10%,20%), hsl(0,0%,0%)) !important;
	box-shadow: inset 0 0 1px #000;
	font-weight: bold;
}
.grid .cell {
	border-radius: 30px;
	background: radial-gradient(hsl(220,50%,40%), hsl(220,50%,20%)) !important;
	box-shadow: 0 0 10px #000;
}
.grid .cell .bar, .grid .cell .meta, #user-friends .row {
	background: linear-gradient(hsl(210,10%,15%), hsl(210,10%,10%)) !important;
}
.grid .cell .meta .host {
	text-align: center;
	top: 6px;
	color: #eee !important;
}
.grid .cell .meta .join {
	background: hsl(220,50%,20%) !important;
	border: 1px solid hsl(220,50%,30%) !important;
	box-shadow: 0 0 3px #000;
	border-radius: 30px;
}
.grid .cell .bar .favorite.selected {
	background: linear-gradient(hsl(220,70%,50%), hsl(220,70%,40%)) !important;
}
.grid .cell .bar .favorite.selected .icon-grab {
	background-position: -35px -280px;
}
#user-friends .row {
	border-radius: 20px;
	box-shadow: 0 0 10px #000;
}
#user-friends .row .positive {
	border-radius: 0 20px;
	background: linear-gradient(hsla(210,100%,50%,.3), hsla(210,100%,40%,.3)) !important;
}
#user-friends .row .positive:hover {
	background: linear-gradient(hsla(210,100%,50%,.8), hsla(210,100%,40%,.8)) !important;
}
#user-friends .row .negative {
	border-radius: 20px 0px;
	background: linear-gradient(hsla(20,90%,50%,.3), hsla(20,90%,40%,.3)) !important;
}
#user-friends .row .negative:hover {
	background: linear-gradient(hsla(20,90%,50%,.8), hsla(20,90%,40%,.8)) !important;
}
.user-content .avatars .grid .cell, .user-content .avatars .grid .cell .top {
	border-radius: 30px;
}
.user-content .avatars .grid .cell .top {
	background: linear-gradient(rgba(0,0,0,0)70%, hsla(210,10%,80%,.2) 80%),
	url("https://i.imgur.com/yWwbLlu.png");
	box-shadow: inset 0 0 40px #000;
}
.user-content .avatars .cell:hover .top, .user-content .avatars .cell.selected .top {
	background: linear-gradient(rgba(0,0,0,0)70%, hsla(0,0%,100%,.2) 80%),
	url("https://i.imgur.com/EhCypa9.png") !important;
}
.user-content .badges .cell {
	background: radial-gradient(hsl(210,10%,10%), hsl(210,10%,5%)) !important;
	box-shadow: inset 0 0 30px #000;
}
.user-content .badges .cell:hover {
	background: url("https://i.imgur.com/62yj5vP.png") 0 -12px no-repeat !important;
	box-shadow: 0 0 10px #000;
}
#user-store .badges .cell:hover {
	background: radial-gradient(hsl(220,50%,40%), hsl(220,50%,20%)) !important;
}
.user-content .badges .cell.selected {
	background: url("https://i.imgur.com/er7G0XU.png") !important;
	box-shadow: inset 0 0 20px 2px hsla(0,0%,100%,.2) !important;
}
.grid .cell .top .expires, .grid .cell .top .prices, #the-user-profile .badge-box, #media-panel  {
	background: transparent !important;
}
.grid .cell .top .expires span {
	color: hsl(30,100%,50%) !important;
}
#the-user-profile .meta {
	background: hsla(200,100%,90%,.05) !important;
	box-shadow: 0 0 0px 15px hsla(200,100%,90%,.05);
}
#the-user-profile .blurb .box {
	background: linear-gradient(135deg, hsl(210,100%,25%), hsl(200,100%,25%));
	box-shadow: inset 0 0 5px 1px hsla(0,0%,100%,.4);
}
#the-user-profile .blurb .arrow-up {
	border-bottom: 6px solid hsl(210,100%,25%);
}
@import url(https://fonts.googleapis.com/css?family=Inconsolata&subset=latin,latin-ext);

.id-4849359>.badge-box>i.bdg,
#chat-messages .fromID-7049112 .bdg {
    background-image: url("https://i.imgur.com/ZID7GOB.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-4849359 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://i.imgur.com/ZID7GOB.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#chat [data-cid^="4849359-"] span.un.clickable {
  color: #ff8100 !important;
  font-family: 'Inconsolata' !important;
  font-size: 14px !important;
}

#chat .msg .text .name.id-4849359 .name,
#chat [data-cid^="4849359-"] .timestamp,
#chat .msg .text .id-4849359,
#chat .msg .text .name.id-4849359 {
  color: #ff8100 !important;
}

#chat [data-cid^="4849359-"] {
  background: rgba(255, 128, 0, 0.15) !important;
}

#chat [data-cid^="4849359-"] .text {
  font-family: 'Inconsolata' !important;
  font-size: 14px !important;
}

#chat .id-4849359 .icon {
  display: none !important;
}

#chat [data-cid^="4849359-"] .icon {
    display: none !important;
}

/*Chillout Susan*/

#user-rollover.id-4849359 .meta .p3UserID {
  display: none !important;
}

#user-rollover.id-4849359 span.showID {
  display: none !important;
}

#user-rollover.id-4849359 .meta .joined:after {
  content: "\A (っ◔◡◔)っ ♥ Css Owner ♥" !important;
  white-space: pre;
  position: relative;
  display: inline;
  top: 2px;
}
/*Wolfie*/

#user-rollover.id-4412452 .meta .p3UserID {
  display: none !important;
}

#user-rollover.id-4412452 span.showID {
  display: none !important;
}

#user-rollover.id-4412452 .meta .joined:after {
  content: "\A ♥ Css Helper ♥" !important;
  white-space: pre;
  position: relative;
  display: inline;
  top: 2px;
}
